{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block styling %}<link rel="stylesheet" href="{% static "cart/cart.css" %}">{% endblock styling %}

{% block content %}
    <div>{% include "marketplace/includes/marketplace-include.html" %}</div>
    <div class="cart-body">

        <div class= "listing-section">
            <div class="cart-text"><h1>Cart</h1></div>
            {% for item in user_cart  %}
                <hr>
                <div class="item-section">
                    <div class="mini-section">
                        {% if item.item_name in unavailable_items %}
                            <p>This available is no more available</p>
                        {% endif %}
                        <div class="item-image"><img src="{{item.image.url}}"/></div>
                        <div class="item-details">
                            <div class="name">
                                <p>{{item.item_name}}</p>
                            </div>
                            <div class="brand">
                                <P>Brand: {{item.brand}}</P>
                            </div>
                            <div class="remove-link"> <a href="{% url 'remove' item.id%}"> Remove </a></div>
                        </div>
                        <div class="price">
                            <P>NGN {{item.price}}</P>
                            <div class="shortcut">
                                <a href = "{% url 'reduction' item.id %}"><button>-</button></a>
                                <p>{{item.quantity}}</p>
                                <a href = "{% url 'addition' item.id %}"><button>+</button></a>
                            </div>
                        </div> 
                       
                        {% comment %} <a href="{% url 'addcart' item.id %}"><button class="cart-button"><p>Add to cart</p></button></a> {% endcomment %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="total-amount"> 
            <h4>CART SUMMARY</h4>
            <hr>
            <div class="second-divcart"><h3>Total</h3>
                <p>{{total_amount.total}}</p>
            </div>
                <hr>
                {% if unavailable_items %}
                <p>Remove the unlisted item(s) </p>
                {% else %}
                <div class="payment-button"><a  href="{% url 'payment' %}"><button> Proceed To Payment</button></a></div>
                {% endif %}
           
        </div>
       
    </div>
{% endblock content %}