{% extends "base.html" %}
{% load static %}
 {% block title %}Hash Marketplace{% endblock title %}
{% block styling %}
    <link rel="stylesheet" href="{% static "user_management/homepage.css" %}">
{% endblock styling %}


{% block content %}
        {% include "user_management/includes/homepage-nav.html" %}
        <div class="body-content"> 
            <section class="first-section">
                <div class= title-text>
                   <p> Your Number Digital One Marketplace</p>
                   <img src={% static "user_management/images/cart-image.jpeg"%}>
                </div>
            </section>
            <div class = "discover-button">
                <a href={%url 'request'%}><button>Need an item? Click Here</button></a>
            </div>
        </div>


{% endblock content %}
