{% extends "base.html" %}
{% load static %}
{% block title %}Log In{% endblock title %}
{% block styling %}<link rel="stylesheet" href={% static "user_management/login.css" %}>{% endblock styling %}
{% block content %}
    <div class="text"><h1>Log IN</h1></div>
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <p>{{error}}</p>
            {% for field in form  %}
            <div class="form-field">
                <label class= "form-label">{{field.label}}</label>
                
                <div class ="input-container">{{field}}</div>
            </div>
            {% endfor %}
            <button type="submit"> Create</button>
        </form>
    </div>
{% endblock content %}