{% extends "base.html" %}
{% load static %}
{% block title %} Listing {% endblock title %}
{% block styling %}<link rel="stylesheet" href="{% static "marketplace/available-listing.css" %}">{% endblock styling %}

{% block content %}
    <div class= "listing-section">
        {% for item in items_created %}
        <div class="item-section">
            <div class="mini-section">
                <div class="item-image"><img src="{{item.image.url}}"/></div>
                <div class="name">
                   <a href="{% url "item-details" item.slug %}"> <h2>{{item.item_name}}</h2></a>
                </div>
                <div class="description">
                    <P>BRAND:</P>
                    <p>{{item.brand}}</p>
                </div> 
            </div>
        </div>
    {% endfor %}
    </div>
    <a href="{% url 'create'%}"><button>Create</button></a>
{% endblock content %}