{% extends "base.html" %}
{% load static %}
{% block title %} Create{% endblock title%}
{% block styling %}<link rel="stylesheet" href="{% static "marketplace/create.css" %}">{% endblock styling %}
{% block content %}
    <form method="post"class="styled-form" >
        {% csrf_token %}
        {% for field in form  %}
        <div class="form-field" >
            <label class="form-label"><h2>{{field.label}}</h2></label>
            <div class="input-container">{{field}}</div>
           <div class="error-message"> <h3>{{field.errors}}</h3></div>
        </div>
        {% endfor %}
        <button type="submit" class="submit-button">Create</button>
    </form>
{% endblock content %}
<h1>jsdodfjdf</h1>