{% extends "base.html" %}
{% load static %}
{% block styling %}<link rel="stylesheet" href={% static 'marketplace/item-details.css'%}>{% endblock styling %}
{% block title %}{{details.item_name}}{% endblock title %}
{% block content %}
    {% include "marketplace/includes/marketplace-include.html" %}
    <div class="item-container">
        <div class="image-container"><img src="{{details.image.url}}"/></div>
        <div class="text-container">
            <div class="name"> <p>{{details.item_name}}</p></div>
            <div class="description"><p>{{details.description}}</p></div>
            <div class="price"> <p>NGN {{details.price}}</p></div>
        </div>
           <a href="{% url 'cart' %}"><button class="buy-button"><p>Buy This Item</p></button></a>
    </div>
   
{% endblock content %}