{% extends "base.html" %}
{% load static %}
{% block styling %}<link rel="stylesheet" href={% static 'marketplace/item-details.css'%}>{% endblock styling %}
{% block title %}{{details.item_name}}{% endblock title %}
{% block content %}
    {% include "marketplace/includes/marketplace-include.html" %}
    <div class="item-container">
        <div class="image-container"><img src="{{details.image.url}}"/></div>
        <div class="text-container">
            {{details.item_name}}
            {{details.description}}
        </div>
        
    </div>
   
{% endblock content %}