body{
    margin: 30px;
}

.listing-section{
  margin-left: 30px;
  width:90%;

  display: flex;
  justify-content: space-between;
  padding: 50px;
}
  


.item-section{
  border-radius: 15px;
  box-shadow: 3px 3px black;
  width:50%;
  margin-right: 30px;
  margin-bottom: 30px;
  
}
.mini-section{
  padding: 20px;
    
    margin: auto;
}
.mini-section a{
  text-decoration: none;
  color: #FF595A;
}
.brand{
 
  width: 90%;
  margin-top: -15px;
  display: flex;
  margin-right: 75px;
}

button{
  background-color: #FF595A; 
  color: white;
  width: 110px;
  height: 46px;
  border-radius: 5px;
  border: none;
  margin-top: 13px;
  margin-left: 80px;
  font-size: 20px;
  font-weight: 900;
}

:hover button{
    background-color:  white;
    color: #001233;
    transition: 0.5s;
    
  
  }
  .item-image img{
    width: 150px;
    height: 150px;
    
  }