body{

}
.item-container{
    width: 80%;
    height: 500px;
    margin: auto;
    padding-top: 50px;

}
.image-container{
    width: 70%;
    height: 90%;
    margin: auto;
 
}
.image-container img{
    height: 300px; 
    margin-top: 70px;
    margin-left: 110px;

}