.marketplace-includenav{
    width: 90%;
    margin: auto;
    display: flex;
    margin-left: 30px;

}

.logo-text{
    font-size: 20px;
    font-weight: 600;
   display: inline-block;
    font-family: "Playwrite FR Trad", cursive;
    font-optical-sizing: auto;
    margin-left: 50px;
   }
.logo-text a{
    text-decoration: none;
    color: #FF595A; 
   }
.marketplace-include{

    background-color: rebeccapurple;
}
.marketplace-includenav ul{

    margin-left:65%;
}

.marketplace-includenav ul li a{
    text-decoration: none;
    color: #001233;

}

.marketplace-includenav ul li{
    display: inline-flex;
    margin-left: 60px;
    
}
