.marketplace-includenav{
   
    width: 90%;
    margin: auto;
}

.first{
    display: inline-block;

    margin-right: 25%;
    width: 30%;
}
.logo-text{
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    font-family: "Playwrite FR Trad", cursive;
    font-optical-sizing: auto;
    margin-left: 50px;
   }
.logo-text a{
    text-decoration: none;
    color: #FF595A; 
   }
.second{
    display: inline-block;
    width: 40%;
}
.second ul{
    margin: 0 0 0 0px;
    padding-left: 40%;

}
.second ul li{
    display: inline-block;
    list-style: none;
}

.second ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    color:  #001233;
}

 
.second button{
    width: 80px;
    height: 28px;
    border: 2px solid #FF595A;
    background-color: transparent;
}

button:hover{
    background-color:  #FF595A;
    color: #001233;
    transition: 0.5s;
  }

.order-button{
    margin-left: 0px;
}