{% extends "base.html" %}
{% load static %}
{% block headscript %}
<script src="https://checkout.flutterwave.com/v3.js"></script>
{% endblock headscript %}
{% block styling %}
<link rel="stylesheet" href="{% static "payments/payments.css" %}">
{% endblock styling %}
{% block content %}
<div class="payment-container">
  <div class="summary-card">
      <h1>Payment Summary</h1>
      
      <div class="section">
          <h2>Buyer Information</h2>
          <p><strong>Full Name:</strong> {{fullname}}</p>
          <p><strong>Email:</strong> {{email}}</p>
          <p><strong>Logistics Address:</strong>{{address}}</p>
          <p><strong>Postal Code:</strong> 56789</p>
      </div>
    <hr>
      <div class="section">
          <p class="total-amount"><strong>Total Amount:</strong><span>NGN {{total_amount.total}}</span></p>
      </div>

      <div class="section payment-section">
          <h2>Payment</h2>
          <form>
            <div>
            </div>
            <button type="button" id="start-payment-button" onclick="makePayment()">Checkout</button>
          </form>
      </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
  <script>
  function makePayment() {
      FlutterwaveCheckout({
          public_key: "FLWPUBK_TEST-02b9b5fc6406bd4a41c3ff141cc45e93-X",
          tx_ref: "txref-DI0NzMx13kjlllnm",
          amount: {{total_amount.total}},
          currency: "NGN",
          payment_options: "card, banktransfer, ussd",
          meta: {
              source: "docs-inline-test",
              consumer_mac: "92a3-912ba-1192a",
          },
          customer: {
              email: "{{email}}",
              phone_number: "08100000000",
              name: "{{fullname}}",
          },
          customizations: {
              title: "Flutterwave Developers",
              description: "Test Payment",
              logo: "https://checkout.flutterwave.com/assets/img/rave-logo.png",
          },
          callback: function(data) {
              console.log("payment callback:", data);
          },
          onclose: function() {
              console.log("Payment cancelled!");
          }
      });
  }
  </script>
{% endblock scripts %}
