{% extends "base.html" %}
{% load static %}
{% block headscript %}
<script src="https://checkout.flutterwave.com/v3.js"></script>
{% endblock headscript %}
{% block styling %}
<link rel="stylesheet" href="{% static "payments/payments.css" %}">
{% endblock styling %}
{% block content %}
  <form>
    <div>
      Your order is ₦2,500
    </div>
    <button type="button" id="start-payment-button" onclick="makePayment()">Pay Now</button>
  </form>
{% endblock content %}

{% block scripts %}
  <script>
  function makePayment() {
      FlutterwaveCheckout({
          public_key: "FLWPUBK_TEST-02b9b5fc6406bd4a41c3ff141cc45e93-X",
          tx_ref: "txref-DI0NzMx13kjlllnm",
          amount: 2500,
          currency: "NGN",
          payment_options: "card, banktransfer, ussd",
          meta: {
              source: "docs-inline-test",
              consumer_mac: "92a3-912ba-1192a",
          },
          customer: {
              email: "{{buyer_email}}",
              phone_number: "08100000000",
              name: "{{buyer_full_name}}",
          },
          customizations: {
              title: "Flutterwave Developers",
              description: "Test Payment",
              logo: "https://checkout.flutterwave.com/assets/img/rave-logo.png",
          },
          callback: function(data) {
              console.log("payment callback:", data);
          },
          onclose: function() {
              console.log("Payment cancelled!");
          }
      });
  }
  </script>
{% endblock scripts %}
