body{
    background-color: #d3d3d3;

}

.cart-body{
    display: flex;
}
hr{
    margin: 5px;
}
.cart-text h1{
    margin: 0;
     padding: 15px 0 5px 15px;
     color: #001233;
}
.listing-section{
    background-color:white ;
    margin-left: 100px;
    border-radius: 7px;
    box-shadow: 1px;
    width: 60%;
    padding-bottom: 15px;
}
.item-section{
    padding-top: 10px;
    height: 120px;
    width: 95%;
    margin: auto;
    margin-top: 10px;

    
}

.mini-section{}


.item-image img{
    float: left;
    width:50px;
}
.item-details p{
    margin: 0;
}
.item-details{
    margin-left: 60px;
    margin-bottom: 5px;
}
.name{
    font-size: 20px;
    font-weight: 500;
}
.price{
    float: right;

}
.price p{
    margin-top: -30px;
    margin-bottom: 0;
    font-size: 20px;
}

.shortcut button{
    margin-left: 10px;
    margin-right: 3px;
    padding: 0px;
    margin-top: 5px;
    background-color: #390067;
    color: white;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    cursor: pointer;
}
.shortcut p{
    display: inline-block;
}


.remove-link{
    margin-top: 20px;
}
.remove-link a{
    color: #390067;
    text-decoration: none;
    font-size: 20px;
}

.total-amount{
    background-color: white;
    margin-left: 30px;
    border-radius: 8px;
    width: 22%;
    height: 150px;
 
}

.total-amount h4{
    color: #001233;
    margin-left: 7px;
    margin-bottom: 10px;
}
.second-divcart{
    display: flex;
    margin-left: 10px;
}

.second-divcart h3{
    margin-top: 10px;
    margin-bottom: 0px;
}
.total-amount p{
    font-size: 17px;
    font-weight: 400;
}
.second-divcart p {
    font-size: 20px;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 5px;
}



.payment-button button{
   
    background-color: #390067;
    width: 90%;
    margin-left: 10px;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.payment-button a{
    color: white;
    text-decoration: none;
}
