body{

}
.item-container{
    width: 80%;
    height:400px;
    margin: auto;
    padding: 0;

}
.image-container{
    width: 70%;
    height: 90%;
    margin: auto;
 
}
.image-container img{
    height: 300px; 
    margin-top: 70px;
    margin-left: 110px;

}
.text-container{
    width: 80%;
}

.text-container p{
    font-size: 20px;
    margin: 15px;
}

.buy-button {
    background-color: #001233;
    width: 20%;
    margin: auto;
    margin-left: 7px;
    font-size: 13px;
    padding-bottom: 2px;
  }
  .buy-button p{
    margin-top: 12px;
  }
  .buy-button:hover{
    background-color: white;
    color: #001233;
  }