
{% load static %}
{% block styling %}
    <link rel="stylesheet" href="{% static "user_management/homepage-nav.css" %}">
{% endblock styling %}



<section class="nav-bar">
    <nav>
        <div class="first-nav">
            <p class="logo-text"><a href="{% url "starting-page"%}">HM</a></p>
            <p class="hash-text">Hash Marketplace</p>
        </div>

        <div class="second-nav">
            <ul>
                <li><a href="">Home</a></li>
                <li> <a href="{% url 'discover'%}">Discover</a></li>
                <li><a href="{% url 'available-listing'%}">Marketplace</a></li>
                <li><a href="{% url "profile" username %}">Profile {{profile.username}}</a></li>
            </ul>   
        </div>
        <div class="third-nav">
            <div class="cart">
                <a href="{% url "cart" %}"><button>Cart</button></a>
            </div>
            <div class="orders">
                <a href="{% url "sign-up"%}"><button>Orders</button></a>
            </div>
        </div>
    </nav>
</section>